---
import BasePage from "../layouts/BasePage.astro";
import { Icon } from "astro-icon/components";
import CustomLink from "../components/CustomLink.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const subheaderStyles = "text-2xl sm:text-4xl mb-4 sm:mt-12 mt-6";
const buttonStyles =
	"btn btn-link btn-lg normal-case font-normal no-underline";
---

<BasePage>
	<div class="sm:mt-20 block mx-auto max-w-[700px] text-wrap sm:text-lg">
		<h1 class="text-4xl sm:text-5xl my-4 font-semibold">Sam Baumohl</h1>
		<p class="mb-1">
			I am a student at the University of Wisconsin-Madison studying
			Computer Sciences and Mathematics. I'm interested in software
			development, machine learning/AI, and technology policy. I like to
			read, solve problems, and work on various side projects, some of
			which I'll post here. Right now, I'm:
		</p>
		<ul class="ml-1 list-disc list-inside">
			<li>
				trying to survive the <a
					class="underline"
					href="/blog/uw-madison-courses/">CS major</a>
			</li>
			<li>
				a Coordinator at Madison's&nbsp;<CustomLink
					href="https://www.upl.cs.wisc.edu/"
					>Undergraduate Project Lab</CustomLink
				>
				<li>
					a passionate member of the&nbsp;<CustomLink
						href="https://waisi.org/"
						>Wisconsin AI Safety Initiative (WAISI)</CustomLink
					>
				</li>
			</li>
		</ul>
		<h2 class={subheaderStyles}>Socials</h2>
		<div class="flex flex-row items-center justify-center gap-x-2">
			<form action="https://www.linkedin.com/in/sam-baumohl09/">
				<button class={buttonStyles}>
					<Icon name="linkedin" />
					LinkedIn
				</button>
			</form>
			<form action="https://github.com/sbaumohl/">
				<button class={buttonStyles}>
					<Icon name="github" />
					Github
				</button>
			</form>
			<div>
				<button class={buttonStyles} onclick="email_modal.showModal()">
					<Icon name="mail" />
					Email
				</button>
			</div>
					</div>
		<h2 class={subheaderStyles}>Blog Posts</h2>
		<section class="flex flex-col gap-8 mb-16 p-1">
			{
				posts.reverse().map((post, _) => (
					<a href={`/blog/${post.slug}/`}>
						<div class="flex flex-col md:flex-row gap-6 p-3 border border-solid border-darker-500 hover:border-darker">
							<div class="flex flex-col">
								<h4 class="font-semibold text-xl">
									{post.data.title}
								</h4>
								<p class="mt-1">{post.data.description}</p>
								<p class="mt-4">
									Published{" "}
									<FormattedDate date={post.data.pubDate} />
								</p>
							</div>
						</div>
					</a>
				))
			}
		</section>
	</div>
</BasePage>
<dialog id="email_modal" class="modal">
	<div class="modal-box text-lg">
		<form method="dialog">
			<button
				class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
				>✕</button
			>
		</form>
		<h3 class="text-lg font-bold">Email Address</h3>
		<p class="py-4">sam (at) baumohl (dot) dev</p>
	</div>
	<form method="dialog" class="modal-backdrop">
		<button>close</button>
	</form>
</dialog>
