---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from "astro-icon";
import "@fontsource-variable/playfair-display";
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"

const links = [
	{
		label: "Github",
		link: "https://github.com/sbaumohl",
		icon: "github",
	},
	{
		label: "Email",
		icon: "mail",
		link: "mailto:mail@sambaumohl.me",
	},
	// {
	// 	label: "Instagram",
	// 	link: "https://www.instagram.com/sam_b2327/",
	// 	icon: "instagram",
	// },
	{
		label: "LinkedIn",
		icon: "linkedin",
		link: "https://www.linkedin.com/in/sam-baumohl09/",
	},
	// {
	// 	label: "PGP",
	// 	icon: "key",
	// 	link: "",
	// },
];

const skills = new Map([
	["Frameworks", ["Angular", "React.js", "Astro", "NodeJS"]],
	["Languages", ["Java", "Python", "Javascript", "Typescript", "HTML", "CSS"]],
	["Other Tools", ["AWS", "Docker", "Git", "Linux", "PostgreSQL", "SQL"]],
]);
const introUnderlineStyle =
	"underline underline-offset-8 md:decoration-4 decoration-accent";

const projects = [
	{
		title: "MyMICDS.net",
		description:
			"An all-in-one platform for MICDS student life built with Angular, Express, MongoDB, and NodeJS.",
		github: "https://github.com/MyMICDS/",
		link: "https://mymicds.net/",
	},
	{
		title: "BYO Style-Based GAN",
		description:
			"A blackbox implementation of NVIDIA's StyleGAN (Style-Based Generative Adversarial Neural Network) using PyTorch and Python.",
		github: "https://github.com/sbaumohl/BYO-GAN",
	},
];
---

<!doctype html>
<html
	lang="en"
	class="bg-paperblue"
>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="font-thin font-serif">
		<Header/>
		<div class="p-5 text-text">
			<div class="h-100 border rounded-md border-black shadow-2xl">
				<div class="sm:py-24 py-6 sm:px-20 px-4">
					<h1 class="sm:text-9xl text-7xl font-semibold text-black" id="name"></h1>
					<p class="text-lg mt-4">
						Saint Louis, Missouri born and raised, I study <span
							class={introUnderlineStyle}>Computer Sciences</span
						> and <span class={introUnderlineStyle}>Legal Studies</span> at the <span
						class={introUnderlineStyle}
							>University of Wisconsin-Madison</span
						>. I'm passionate about Software Development, Machine Learning, and
						Technology Policy.
					</p>
				</div>
				<div class="flex">
					{
						links.map((val) => (
							<a
								class="first:ml-20 border-l-0 first:border-l p-2 border-t border-x border-black hover:underline"
								target="_blank"
								rel="noopener noreferrer"
								href={val.link}
							>
								<Icon name={val.icon} class="w-5 mr-1 float-left" />
								{val.label}
							</a>
						))
					}
				</div>
			</div>
		</div>

		<div class="my-5 text-center transparent">
			<h1 class="text-7xl">My Skills</h1>
			<div class="flex md:flex-row flex-col md:gap-40 gap-4 sm:py-24 py-6 sm:px-20 px-4 text-2xl">
				{
					Array.from(skills.entries()).map(([key, value]) => (
						<div class="grow">
							<h2 class="text-4xl mb-3">{key}</h2>
							<ul>
								{value.map((d) => (
									<li>{d}</li>
								))}
							</ul>
						</div>
					))
				}
			</div>
		</div>

		<div class="p-5">
			<h1 class="text-7xl text-center">My Projects</h1>
			<div class="flex md:flex-row flex-col lg:gap-40 gap-4 sm:py-24 py-6 sm:px-48 px-4">
				{
					projects.map((val) => (
						<div class="grow border border-black rounded-md flex-1 basis-0 p-4 shadow-2xl">
							<h2 class="text-4xl mb-3">{val.title}</h2>
							<p class="text-left mb-3">{val.description}</p>
							<div class="flex flex-row">
								<a
									href={val.github}
									target="_blank"
									rel="noopener noreferrer"
									class="hover:underline mr-2"
								>
									<Icon name="github" class="w-5 mr-1 float-left" />
									Code
								</a>
								{val.link && (
									<>{" | "}</>
									<a
										id="myLink"
										href={val.link}
										target="_blank"
										class="underline ml-2"
									>
										Visit
									</a>
								)}
							</div>
						</div>
					))
				}
			</div>
		</div>
		<Footer/>
	</body>
</html>
<style>
	.transparent {
		background-color: rgba(170, 170, 170, 0.22);
	}
</style>
<script>
	var nameElement = document.getElementById("name");
	let i = 0;
	let txt = "Samuel Baumohl";

	while (i < txt.length && nameElement) {
		nameElement.innerHTML = nameElement.innerHTML.slice(0, nameElement.innerHTML.length - 2) + txt.charAt(i) + ' |';
		i++;
		await new Promise(r => setTimeout(r, 80));
	}

	nameElement.innerHTML = nameElement.innerHTML.slice(0, nameElement.innerHTML.length - 1)

	for (let j = 0; j < 10 && nameElement; j ++) {
		await new Promise(r => setTimeout(r, 600));
		nameElement.innerHTML = nameElement.innerHTML.slice(0, nameElement.innerHTML.length - 1)
		await new Promise(r => setTimeout(r, 600));
		nameElement.innerHTML += '.'

	}

</script>
