---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
	title: string;
	description: string;
	ogType?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// fallback to site constants if none provided
const { 
	title = SITE_TITLE, 
	description = SITE_DESCRIPTION, 
	ogType = "website" 
} = Astro.props;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Icons -->
<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/favicons/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/favicons/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/favicons/favicon-16x16.png"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content="baumohl dot dev" />
<meta property="og:type" content={ogType} />
