---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BasePage from "./BasePage.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, author } = Astro.props;
---

<BasePage>
	<article class="sm:mt-20 block mx-auto w-[700px] text-wrap mb-8">
		<a href="../" class="w-50 text-lg text-primary-600 normal-case font-normal hover:underline no-underline"
			><Icon name="angles-left-solid" class="inline-block text-sm mb-1" />Back</a
		>
		<div>
			<h1 class="text-4xl font-semibold">{title}</h1>
			<h2 class="text-lg font-semibold mt-4">
				{description}
			</h2>
			<hr class="mt-8 mb-2 border-accent-700" />
			<div class="text-primary-600 text-lg mb-6 flex flex-row gap-x-2">
				<span>Published on<FormattedDate date={pubDate} /></span
				>&middot;
				{
					updatedDate && (
						<>
							<span>
								Last updated on{" "}
								<FormattedDate date={updatedDate} />
							</span>
							<span>&middot;</span>
						</>
					)
				}
				<span>{author}</span>
			</div>
			<div
				class="prose max-w-none prose-headings:text-text prose-a:text-text prose-lg"
			>
				<slot />
			</div>
		</div>
	</article>
</BasePage>
