---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BasePage from "./BasePage.astro";
import { Icon } from "astro-icon/components";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, author } = Astro.props;
---

<BasePage>
	<div class="sm:mt-20 mx-auto max-w-[700px] text-wrap mb-8">
		<a
			href="../"
			class="w-50 sm:text-lg text-text-400 hover:text-text normal-case font-normal hover:underline no-underline"
			><Icon
				name="angles-left-solid"
				class="inline-block text-sm mb-1"
			/>Back</a
		>
		<div class="p-1">
			<h1 class="text-xl sm:text-4xl font-semibold">{title}</h1>
			<h2 class="sm:text-lg font-semibold mt-4">
				{description}
			</h2>
			<hr class="mt-1 mb-2 border-black" />
			<div class="sm:text-lg mb-6 flex flex-row gap-x-2">
				<span>Published on<FormattedDate date={pubDate} /></span
				>&middot;
				{
					updatedDate && (
						<>
							<span>
								Last updated on{" "}
								<FormattedDate date={updatedDate} />
							</span>
							<span>&middot;</span>
						</>
					)
				}
				<span>{author}</span>
			</div>
			<article
				class="prose prose-neutral prose-sm sm:prose-base max-w-none text-wrap"
			>
				<slot />
			</article>
		</div>
	</div>
</BasePage>
