---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BasePage from "./BasePage.astro";
import { getImage } from "astro:assets"

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, author } =
	Astro.props;

// const images = import.meta.glob("../images/**");
// const heroImageImport: any = await images[`../images/${heroImage}`]()

// const loadedImage = await getImage({
//     src: heroImageImport.default,
//     format: "webp",
//     width: 720,
//     height: 720,
// });

---

<BasePage>
	<article class="sm:mt-20 block mx-auto w-[700px] text-wrap">
		<div>
			<h1 class="text-4xl font-semibold">{title}</h1>
			<h2 class="text-lg font-medium mt-4">
				{description}
			</h2>
			<div class="text-primary mt-8">
				Published <FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div>
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<div class="f">{author}</div>
			</div>
			<hr class="my-8" />
			<div class="prose max-w-none">
				<slot />
			</div>
		</div>
	</article>
</BasePage>
